* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000000;
}


.container {
	width: 100%;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	max-width: 1200px;
	margin: auto;
}

.slider{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black, purple, black);
    z-index: -2;
}

nav{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
    background: linear-gradient(to bottom, purple, orchid);
    border-radius: 25px;
    border: 6px solid orchid;
    box-shadow: 10px 10px 25px black;
}

#logo{
    grid-column: 2/3;
    height: 80%;
    width: 100%;
}

.hamburger{
    justify-self: end;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.mainArticle{
    display: inline-block;
    height: 95%;
    width: 100%;
    position: relative;
    border: 6px solid orchid;
    border-radius: 25px;
    box-shadow: 10px 10px 40px black;
}

.slider img{
	position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

.mainArticle::after{
    content: "";
    background: purple;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    border-radius: 18px;
    z-index: -1;
    
}


.mainArticle h1{
    text-align: center;
    font-family: fantasy;
    font-size: 3em;
    color: white;
    z-index: 3;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 0 25px black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.mainArticle h2{
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    font-family: fantasy;
    font-size: 1.5em;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 0 25px black;
}

.mainArticle li{
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    font-family: fantasy;
    font-size: 1.5em;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 0 25px black;
    list-style-position: inside;
    list-style-type: square;
}

.player{
   position: relative;
   overflow: hidden;
   display: block;
   padding-top: 56.25%;
   margin-left: auto;
   margin-right: auto;
   
}

.player iframe{
    position: absolute;
    top: 0.5em;
    left: 15%;
    width: 70%;
    height: 70%;
    box-shadow: 10px 25px 25px black;
}

.social {
	width: 100%;
	max-width: 1200px;
    min-height: 10vh;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background: linear-gradient(to top, rgb(66, 66, 66), gray);
    border: 4px solid grey;
	clear: both;
	overflow: auto;
	box-shadow: 10px 0px 25px black;
	border-radius: 15px 15px;	
    width: 100%;
    position: fixed;
    bottom: 0;
}

.social_icon {
	display: block;
	float: left;
	line-height: 0px;
	padding-top: 10px;
	padding-left: 9%;
	padding-right: 9%;
}

.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}

.social .social_icon img {
	max-width: 70px;
	max-height: 70px;
	border-radius: 50%;
    box-shadow: 10px 10px 25px black;
    border: solid 3px darkgray;
}


.carousel{
	position: relative;
	height: 100%;
	width: 100%;
    overflow: hidden;
}

.carousel_track-container{
	position: relative;
	height: 100%;
	width: 100%;
	justify-content: center;		
}

.carousel_track{
	padding: 0;
	margin: 0;
	list-style: none;
	height: 100%;
	position: relative;
	transition: transform 250ms ease-in;
}

.carousel_slide{
	position: absolute;
	margin: auto;
	width: 100%;
	top: 1em;
	bottom: 0;
}

.carousel_button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 100;
    background: none;
}

.carousel_button-left{
	left: 40px;
}

.carousel_button-right{
	right: 40px;
}

.carousel_button img{
	width: 90px;
    box-shadow: 10px 10px 25px black;
}

.twitter{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
    top: 0.5em;
    left: 0;
    width: 50%;
    height: 50%;
    box-shadow: 10px 25px 25px black;
}

.row_left{
    float: left;
    width: 50%;
    height: 100%;
}
.row_right{
    float: right;
    width: 50%;
    height: 100%;
}

.about_pic{ 
    display: block;
    width: auto;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 25px 25px black;
}